:root {
    --maxWidth: 100vw;
    --nude: #EAD4B5;
    --yellow: #E5AD40;
    --green: #B5CC97;
    --orange: #FC6B19;
    --brown: #432E13;
    --text: 'PT Sans', sans-serif;
    --headline: 'Text Me One', sans-serif;
}
/* GENERAL STYLING */ 

body {
    max-width: var(--maxWidth);
    margin: 0 auto;
    color: black;
    text-align: center;
}

/* GENERAL STYLING: fonts  */

h1, h2, h3 {
    font-family: var(--headline);
    font-weight: normal;
}

h1 {
    color: var(--brown);
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

p {
    font-family: var(--text);
    font-size: 20px;
}

/* GENERAL STYLING: background colours */

.grid-item2-lets-go, .grid-item2-backpack, .grid-item5-clothing, .grid-item2-hearts {
    background: var(--yellow);
}

.grid-item3-welcome, .grid-item3-food, .grid-item4-backpack-again, .grid-item1-read-more {
    background: var(--green);
}

.grid-item1-top-icon, .calendar, .calendar > .calendar-headline, footer {
    background: var(--nude);
}

/* GENERAL STYLING: flexbox */

nav, nav a, .nav-link-wrapper, .top, .main-text-grid > article, .grid-item1-read-more, .grid-item2-hearts, .subscribe-form, .grid-item3-newsletter, .gallery, .calendar > article {
    display: flex;
}

nav, nav a, .nav-link-wrapper, .top, .main-text-grid > article, .grid-item1-read-more, .grid-item2-hearts, .subscribe-form, .grid-item3-newsletter {
    flex-direction: column;
}

.grid-item2-lets-go, .calendar > .calendar-headline, .grid-item1-read-more, .grid-item2-hearts {
    justify-content: center;
}

.nav-link-wrapper, .grid-item1-top-icon, .calendar > article, .grid-item1-read-more, .grid-item3-newsletter, .subscribe-form {
    align-items: center;
}

/* HEADER SECTION */

header {
    width: 100%;
    max-width: var(--maxWidth);
    background: url('../images/header.jpeg');
    background-position: bottom;
    background-size: 300%;
    background-repeat: no-repeat;
    height: 540px;
}
.top h1 {
    margin-top: 8rem;
}

/* HEADER SECTION: hamburger menu button */
.top > img {
    align-self: flex-end;
    z-index: 99;
    position: fixed;
    padding: 1rem;
}

body.open .top img {
    transform: rotateZ(90deg);
}

/* HEADER SECTION: drop down menu*/
nav {
    transform: translateY(-100%);
    position: fixed;
    z-index: 20;
    background: rgba(0,0,0,.9);
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    transition: all .25s ease;
}

nav a {
    text-decoration: none;
    font-family: var(--headline);
    font-size: 25px;
    color:white;
}

a:hover {
    color: var(--yellow);
}

a:hover svg path {
    fill: var(--yellow);
}

nav a svg {
    margin: 1rem;
}

body.open nav {
    transform: translateY(0%);
}

/* MAIN TEXT SECTION */

.main-text-grid {
    display: grid;
    grid-template-areas: 
    "top-icon"
    "lets-go"
    "welcome"
    "backpack-tips"
    "food-tips"
    "clothing-tips"
    "backpack-tips-again";
}

.main-text-grid > article {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.grid-item1-top-icon {
    grid-area: top-icon;
}

.icon > path {
    fill: var(--brown);
}

.grid-item2-lets-go {
    grid-area: lets-go;
    padding-right: 4rem;
    padding-left: 4rem;
}

.grid-item3-welcome {
    grid-area: welcome;
}

.grid-item3-welcome > img, .grid-item2-backpack > img, .grid-item3-food > img, .grid-item5-clothing > img, .grid-item4-backpack-again > img {
    min-height: 86px;
}

.grid-item3-welcome > p, .grid-item2-backpack > p, .grid-item3-food > p, .grid-item5-clothing > p, .grid-item4-backpack-again > p {
    padding: 0 2rem;
}

/* page 2 - hiking tips: */

.grid-item2-backpack {
    grid-area: backpack-tips;
}

.grid-item3-food {
    grid-area: food-tips;
}

.grid-item5-clothing {
    grid-area: clothing-tips;
}

.grid-item4-backpack-again {
    grid-area: backpack-tips-again;
}

.grid-item2-backpack > img, .grid-item5-clothing > img  {
    align-self: flex-start;
    padding-left: 1rem;
}

.grid-item4-backpack-again > img, .grid-item3-food > img {
    align-self: flex-end;
    padding-right: 1rem;
}

/* GALLERY SECTION */

.gallery {
   flex-wrap: wrap;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    height: 50vw;
    width: 50vw;
    overflow: hidden;
}

figure img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

/* CALENDAR SECTION */

.calendar {
    padding-bottom: .5rem;
}

.calendar > article {
    background: white;
    margin: .5rem 0;
    padding-left: 1.5rem;
    min-height: 115px;
    font-size: 20px;
    
}
.calendar > article:not(.calendar-headline) {
    padding-right: 4rem;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.calendar > .calendar-headline {
    padding: 2rem 3rem; 
    margin-top: 0;
}

.calendar h2 {
    color: var(--orange);
}

.calendar aside {
    min-width: 5rem;
}

.calendar > aside > p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.planned-hike {
    color: var(--orange);
}

/* READ MORE SECTION */

.read-more-grid {
    display: grid;
    grid-template-areas: 
    "read-more hearts"
    "newsletter newsletter";

}

.grid-item1-read-more, .grid-item2-hearts {
    width: 50vw;
    padding: 1rem 0;
}

.grid-item1-read-more {
    grid-area: read-more;
}

.grid-item1-read-more > h3 {
    font-size: 30px;
    margin-block-start: 0em;
    margin-block-end: 1rem;
}

button {
    height: 1.5rem;
    width: 3rem;
    border-width: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    font-family: var(--text);
    background: white;
}

.grid-item2-hearts {
    grid-area: hearts;
}

.grid-item3-newsletter {
    background: var(--orange);
    grid-area: newsletter;
    padding: 3rem;
}

.subscribe-form > form {
    margin: 1rem;
}

.subscribe-form > form > input {
    padding: .5rem;
    font-size: 20px;
    font-family: var(--text);
}

.subscribe-button {
    height: 3rem;
    width: 5rem;
    font-size: 20px;
    margin: 2rem 1rem 4rem 1rem;
    padding: 1px 6px;
}

.grid-item3-newsletter > img {
    min-height: 150px;
}

/* FOOTER SECTION */

footer {
    padding: 2rem 2rem 4rem 2rem;
}

footer > h2 {
    margin-top: 0;
}

footer > a {
    margin: .5rem;
}

/* DESKTOP VERSION */

@media screen and (min-width: 480px) {
    header {
        background-size: 200%;
    }


    .main-text-grid {
        display: grid;
        grid-template-areas: 
        "top-icon top-icon"
        "lets-go welcome"
        "backpack-tips food-tips"
        "backpack-tips-again clothing-tips";
    }

    .grid-item2-lets-go, .grid-item3-welcome, .grid-item2-backpack, .grid-item4-backpack-again, .grid-item3-food, .grid-item5-clothing {
        width: 50vw;
        height: 50vw;
        padding: 0;
        
    }

    .grid-item3-welcome img, .grid-item5-clothing img {
        align-self: flex-end;
        padding: 1rem 1rem 0 0;
    }

    .grid-item3-welcome h2 {
        margin-block-start: 1rem;
        margin-block-end: 0;
    }

    .grid-item3-welcome p {
        padding: 0 5rem;
    }

    .grid-item4-backpack-again img {
        align-self: flex-start;
        padding: 1rem 0 0 1rem;
    }

    figure {
        height: 33.33vw;
        width: 33.33vw;
        overflow: hidden;
    }

    .last-img {
        order: 6;
    }

    .calendar > article {
        max-width: 40vw;
        margin: .5rem auto;
    }

    .calendar > article:not(.calendar-headline) {
        padding-right: 4rem;
        justify-content: space-between;
    }

    .calendar > article > p {
        padding-right: 6rem;
    }
   
    .planned-hike {
        padding-right: 5rem;
    }

    .read-more-grid {
        grid-template-areas: 
        "read-more newsletter"
        "hearts newsletter";
    }

    .grid-item1-read-more > h3 {
        padding: 0px 8rem;
    }
    .grid-item2-hearts {
        flex-direction: row;
    }

    .grid-item2-hearts > img {
        padding: 1rem;
    }

    .subscribe-form {
        flex-direction: row;
    }

    .subscribe-button {
        margin: 0;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        padding: 5rem 10rem;
    }

    footer > h2 {
        align-self: flex-end;
    }
}

/* an extra media query because it looked uglier without it */

@media screen and (min-width: 810px) {
    header {
        background-size: 100%;
    }

   
}

@media screen and (min-width: 1440px) {
   
    .top h1 {
        margin-top: 2rem;
    }

   
}






