:root {
    --maxWidth: 1440px;
    --nude: #EAD4B5;
    --yellow: #E5AD40;
    --green: #B5CC97;
    --orange: #FC6B19;
    --brown: #432E13;
    --text: 'PT Sans', sans-serif;
    --headline: 'Text Me One', sans-serif;
}

body {
    max-width: var(--maxWidth);
    margin: 0 auto;
    color: black;
    text-align: center;
}

h1, h2 {
    font-family: var(--headline);
    font-weight: normal;
}

h1 {
    color: var(--brown);
    font-size: 60px;
}

h2 {
    font-size: 50px;
    
}

p {
    font-family: var(--text);
}

header {
    width: 100%;
    max-width: var(--maxWidth);
    background: url('../images/header.jpeg');
    background-position: bottom;
    background-size: 300%;
    background-repeat: no-repeat;
    height: 540px;
    display: flex;
    flex-direction: column;
}

header > img {
    align-self: flex-end;
    margin: 1rem;
}

nav {
    transform: translateY(-100%);
    position: fixed;
}

body article {
    padding: 2rem 4rem;
}

.intro-boxes {
    display: grid;
    grid-template-areas: 
    "top-icon"
    "lets-go"
    "welcome";
}

.top-icon {
    background: var(--nude);
    grid-area: top-icon;
}

.icon > path {
    fill: var(--brown);
}

.lets-go {
    background: var(--yellow);
    grid-area: lets-go;
}

.welcome {
    background: var(--green);
    grid-area: welcome;
}

.calendar {
    background: var(--nude);
}

.calendar h2 {
    color: var(--orange);
}

.calendar > article {
    background: white;
    margin: 1rem 0;
    height: 115px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.read-more-grid {
    display: grid;
    grid-template-areas: 
    "read-more hearts"
    "newsletter newsletter";
    
}

.read-more-grid > article {
    padding: 2rem;
}

.read-more {
    background: var(--green);
    grid-area: read-more;
}

.read-more > h2 {
    font-size: 25px;
}

.hearts {
    background: var(--yellow);
    grid-area: hearts;
    display: flex;
    flex-direction: column;
}

.newsletter {
    background: var(--orange);
    grid-area: newsletter;
    display: flex;
    flex-direction:column;
}

footer {
    background: var(--nude);
    padding: 2rem;
}

footer > h2 {
    margin-top: 0;
}









